.activity {
  background: url(16x16_black_app_icons.png) -130px -249px no-repeat;
  display: inline-block;
  width: 28px;
  height: 30px;
}

.add {
  background: url(16x16_black_app_icons.png) -330px -98px no-repeat;
  display: inline-block;
  width: 22px;
  height: 22px;
}

.add-folder {
  background: url(16x16_black_app_icons.png) 0px 0px no-repeat;
  display: inline-block;
  width: 32px;
  height: 30px;
}

.add-location {
  background: url(16x16_black_app_icons.png) -204px -101px no-repeat;
  display: inline-block;
  width: 20px;
  height: 30px;
}

.add-page {
  background: url(16x16_black_app_icons.png) -134px -183px no-repeat;
  display: inline-block;
  width: 24px;
  height: 28px;
}

.airplane-1 {
  background: url(16x16_black_app_icons.png) 0px -32px no-repeat;
  display: inline-block;
  width: 32px;
  height: 31px;
}

.airplane-2 {
  background: url(16x16_black_app_icons.png) -160px -183px no-repeat;
  display: inline-block;
  width: 28px;
  height: 28px;
}

.anchor {
  background: url(16x16_black_app_icons.png) -34px 0px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.apple-1 {
  background: url(16x16_black_app_icons.png) -136px -215px no-repeat;
  display: inline-block;
  width: 27px;
  height: 31px;
}

.apple-2 {
  background: url(16x16_black_app_icons.png) -165px -215px no-repeat;
  display: inline-block;
  width: 27px;
  height: 31px;
}

.backward {
  background: url(16x16_black_app_icons.png) -275px -283px no-repeat;
  display: inline-block;
  width: 24px;
  height: 27px;
}

.battery-1 {
  background: url(16x16_black_app_icons.png) -34px -34px no-repeat;
  display: inline-block;
  width: 32px;
  height: 20px;
}

.battery-2 {
  background: url(16x16_black_app_icons.png) -68px 0px no-repeat;
  display: inline-block;
  width: 32px;
  height: 20px;
}

.battery-3 {
  background: url(16x16_black_app_icons.png) -68px -22px no-repeat;
  display: inline-block;
  width: 32px;
  height: 20px;
}

.birdhouse {
  background: url(16x16_black_app_icons.png) 0px -283px no-repeat;
  display: inline-block;
  width: 28px;
  height: 29px;
}

.book {
  background: url(16x16_black_app_icons.png) 0px -65px no-repeat;
  display: inline-block;
  width: 30px;
  height: 32px;
}

.browser {
  background: url(16x16_black_app_icons.png) -32px -65px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.buy {
  background: url(16x16_black_app_icons.png) -264px -228px no-repeat;
  display: inline-block;
  width: 30px;
  height: 18px;
}

.calendar {
  background: url(16x16_black_app_icons.png) -66px -65px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.call {
  background: url(16x16_black_app_icons.png) -102px 0px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.camera {
  background: url(16x16_black_app_icons.png) -102px -34px no-repeat;
  display: inline-block;
  width: 32px;
  height: 26px;
}

.charge {
  background: url(16x16_black_app_icons.png) -102px -62px no-repeat;
  display: inline-block;
  width: 32px;
  height: 20px;
}

.chrome {
  background: url(16x16_black_app_icons.png) -160px -249px no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.clock {
  background: url(16x16_black_app_icons.png) -192px -249px no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.cloud-1 {
  background: url(16x16_black_app_icons.png) 0px -99px no-repeat;
  display: inline-block;
  width: 32px;
  height: 22px;
}

.cloud-2 {
  background: url(16x16_black_app_icons.png) -34px -99px no-repeat;
  display: inline-block;
  width: 32px;
  height: 22px;
}

.coffee {
  background: url(16x16_black_app_icons.png) -136px 0px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.coins {
  background: url(16x16_black_app_icons.png) -136px -34px no-repeat;
  display: inline-block;
  width: 32px;
  height: 28px;
}

.color {
  background: url(16x16_black_app_icons.png) -204px -68px no-repeat;
  display: inline-block;
  width: 22px;
  height: 31px;
}

.comments {
  background: url(16x16_black_app_icons.png) -194px -215px no-repeat;
  display: inline-block;
  width: 30px;
  height: 31px;
}

.compass {
  background: url(16x16_black_app_icons.png) -224px -249px no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.copy-1 {
  background: url(16x16_black_app_icons.png) -190px -183px no-repeat;
  display: inline-block;
  width: 26px;
  height: 28px;
}

.copy-2 {
  background: url(16x16_black_app_icons.png) -87px -283px no-repeat;
  display: inline-block;
  width: 26px;
  height: 28px;
}

.credit-card {
  background: url(16x16_black_app_icons.png) -136px -64px no-repeat;
  display: inline-block;
  width: 32px;
  height: 24px;
}

.cross {
  background: url(16x16_black_app_icons.png) -330px -146px no-repeat;
  display: inline-block;
  width: 20px;
  height: 21px;
}

.delete-folder {
  background: url(16x16_black_app_icons.png) -136px -90px no-repeat;
  display: inline-block;
  width: 32px;
  height: 30px;
}

.delete-page {
  background: url(16x16_black_app_icons.png) -115px -283px no-repeat;
  display: inline-block;
  width: 24px;
  height: 28px;
}

.down {
  background: url(16x16_black_app_icons.png) -330px -201px no-repeat;
  display: inline-block;
  width: 16px;
  height: 20px;
}

.download {
  background: url(16x16_black_app_icons.png) -68px -99px no-repeat;
  display: inline-block;
  width: 32px;
  height: 22px;
}

.download-files {
  background: url(16x16_black_app_icons.png) 0px -123px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.dribbble-player {
  background: url(16x16_black_app_icons.png) -330px -27px no-repeat;
  display: inline-block;
  width: 24px;
  height: 22px;
}

.end-call {
  background: url(16x16_black_app_icons.png) -226px -215px no-repeat;
  display: inline-block;
  width: 31px;
  height: 31px;
}

.facebook {
  background: url(16x16_black_app_icons.png) -34px -123px no-repeat;
  display: inline-block;
  width: 18px;
  height: 32px;
}

.fast-backward {
  background: url(16x16_black_app_icons.png) -330px -169px no-repeat;
  display: inline-block;
  width: 21px;
  height: 14px;
}

.fast-forward {
  background: url(16x16_black_app_icons.png) -330px -185px no-repeat;
  display: inline-block;
  width: 21px;
  height: 14px;
}

.fat-brush {
  background: url(16x16_black_app_icons.png) -204px -133px no-repeat;
  display: inline-block;
  width: 16px;
  height: 30px;
}

.female {
  background: url(16x16_black_app_icons.png) -330px -122px no-repeat;
  display: inline-block;
  width: 22px;
  height: 22px;
}

.files {
  background: url(16x16_black_app_icons.png) -54px -123px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.flag {
  background: url(16x16_black_app_icons.png) -88px -123px no-repeat;
  display: inline-block;
  width: 26px;
  height: 32px;
}

.folder {
  background: url(16x16_black_app_icons.png) -116px -123px no-repeat;
  display: inline-block;
  width: 32px;
  height: 30px;
}

.forward {
  background: url(16x16_black_app_icons.png) -301px -283px no-repeat;
  display: inline-block;
  width: 24px;
  height: 27px;
}

.grid-view {
  background: url(16x16_black_app_icons.png) -141px -283px no-repeat;
  display: inline-block;
  width: 28px;
  height: 28px;
}

.heart {
  background: url(16x16_black_app_icons.png) -102px -183px no-repeat;
  display: inline-block;
  width: 30px;
  height: 28px;
}

.hold {
  background: url(16x16_black_app_icons.png) -68px -44px no-repeat;
  display: inline-block;
  width: 32px;
  height: 18px;
}

.home {
  background: url(16x16_black_app_icons.png) -66px -249px no-repeat;
  display: inline-block;
  width: 30px;
  height: 31px;
}

.home-2 {
  background: url(16x16_black_app_icons.png) -34px -249px no-repeat;
  display: inline-block;
  width: 30px;
  height: 31px;
}

.iPhone {
  background: url(16x16_black_app_icons.png) -170px -34px no-repeat;
  display: inline-block;
  width: 20px;
  height: 32px;
}

.image {
  background: url(16x16_black_app_icons.png) -170px 0px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.leaf {
  background: url(16x16_black_app_icons.png) -30px -283px no-repeat;
  display: inline-block;
  width: 29px;
  height: 29px;
}

.left {
  background: url(16x16_black_app_icons.png) -330px -223px no-repeat;
  display: inline-block;
  width: 20px;
  height: 16px;
}

.link {
  background: url(16x16_black_app_icons.png) -170px -68px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.list-view {
  background: url(16x16_black_app_icons.png) -170px -102px no-repeat;
  display: inline-block;
  width: 32px;
  height: 28px;
}

.location {
  background: url(16x16_black_app_icons.png) -256px -249px no-repeat;
  display: inline-block;
  width: 20px;
  height: 30px;
}

.locked {
  background: url(16x16_black_app_icons.png) -171px -283px no-repeat;
  display: inline-block;
  width: 20px;
  height: 28px;
}

.mail-back {
  background: url(16x16_black_app_icons.png) 0px -157px no-repeat;
  display: inline-block;
  width: 32px;
  height: 24px;
}

.mail-front {
  background: url(16x16_black_app_icons.png) -34px -157px no-repeat;
  display: inline-block;
  width: 32px;
  height: 24px;
}

.male {
  background: url(16x16_black_app_icons.png) -330px -51px no-repeat;
  display: inline-block;
  width: 24px;
  height: 22px;
}

.mastercard {
  background: url(16x16_black_app_icons.png) -68px -157px no-repeat;
  display: inline-block;
  width: 32px;
  height: 24px;
}

.medal {
  background: url(16x16_black_app_icons.png) -204px 0px no-repeat;
  display: inline-block;
  width: 24px;
  height: 32px;
}

.members {
  background: url(16x16_black_app_icons.png) -170px -132px no-repeat;
  display: inline-block;
  width: 32px;
  height: 22px;
}

.microphone-1 {
  background: url(16x16_black_app_icons.png) -150px -123px no-repeat;
  display: inline-block;
  width: 16px;
  height: 30px;
}

.microphone-2 {
  background: url(16x16_black_app_icons.png) -278px -249px no-repeat;
  display: inline-block;
  width: 16px;
  height: 30px;
}

.money {
  background: url(16x16_black_app_icons.png) -298px 0px no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.mouse {
  background: url(16x16_black_app_icons.png) -204px -34px no-repeat;
  display: inline-block;
  width: 22px;
  height: 32px;
}

.music-note {
  background: url(16x16_black_app_icons.png) -61px -283px no-repeat;
  display: inline-block;
  width: 24px;
  height: 29px;
}

.next {
  background: url(16x16_black_app_icons.png) -330px -241px no-repeat;
  display: inline-block;
  width: 20px;
  height: 16px;
}

.notepad {
  background: url(16x16_black_app_icons.png) 0px -183px no-repeat;
  display: inline-block;
  width: 32px;
  height: 30px;
}

.page {
  background: url(16x16_black_app_icons.png) -193px -283px no-repeat;
  display: inline-block;
  width: 24px;
  height: 28px;
}

.paper-plane {
  background: url(16x16_black_app_icons.png) -98px -249px no-repeat;
  display: inline-block;
  width: 30px;
  height: 31px;
}

.pause {
  background: url(16x16_black_app_icons.png) -298px -262px no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.pen {
  background: url(16x16_black_app_icons.png) -230px 0px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.pencil {
  background: url(16x16_black_app_icons.png) -230px -34px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.phone {
  background: url(16x16_black_app_icons.png) -219px -283px no-repeat;
  display: inline-block;
  width: 28px;
  height: 28px;
}

.play {
  background: url(16x16_black_app_icons.png) -330px -295px no-repeat;
  display: inline-block;
  width: 19px;
  height: 16px;
}

.plug {
  background: url(16x16_black_app_icons.png) -298px -32px no-repeat;
  display: inline-block;
  width: 14px;
  height: 30px;
}

.previous {
  background: url(16x16_black_app_icons.png) -330px -259px no-repeat;
  display: inline-block;
  width: 20px;
  height: 16px;
}

.rate-down {
  background: url(16x16_black_app_icons.png) -298px -64px no-repeat;
  display: inline-block;
  width: 30px;
  height: 28px;
}

.rate-up {
  background: url(16x16_black_app_icons.png) -298px -94px no-repeat;
  display: inline-block;
  width: 30px;
  height: 28px;
}

.remove-location {
  background: url(16x16_black_app_icons.png) -298px -124px no-repeat;
  display: inline-block;
  width: 20px;
  height: 30px;
}

.retweet {
  background: url(16x16_black_app_icons.png) -298px -156px no-repeat;
  display: inline-block;
  width: 30px;
  height: 20px;
}

.ribbon {
  background: url(16x16_black_app_icons.png) -230px -68px no-repeat;
  display: inline-block;
  width: 20px;
  height: 32px;
}

.right {
  background: url(16x16_black_app_icons.png) -330px -277px no-repeat;
  display: inline-block;
  width: 20px;
  height: 16px;
}

.ruler {
  background: url(16x16_black_app_icons.png) -230px -102px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.screen {
  background: url(16x16_black_app_icons.png) -230px -136px no-repeat;
  display: inline-block;
  width: 32px;
  height: 28px;
}

.screw-driver {
  background: url(16x16_black_app_icons.png) -230px -166px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.search {
  background: url(16x16_black_app_icons.png) -330px 0px no-repeat;
  display: inline-block;
  width: 24px;
  height: 25px;
}

.sell {
  background: url(16x16_black_app_icons.png) -102px -99px no-repeat;
  display: inline-block;
  width: 32px;
  height: 18px;
}

.servers {
  background: url(16x16_black_app_icons.png) 0px -215px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.settings {
  background: url(16x16_black_app_icons.png) -34px -215px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.shopping-cart {
  background: url(16x16_black_app_icons.png) -34px -183px no-repeat;
  display: inline-block;
  width: 32px;
  height: 30px;
}

.skinny-brush {
  background: url(16x16_black_app_icons.png) -298px -178px no-repeat;
  display: inline-block;
  width: 29px;
  height: 30px;
}

.stacked-papers {
  background: url(16x16_black_app_icons.png) -68px -183px no-repeat;
  display: inline-block;
  width: 32px;
  height: 28px;
}

.star {
  background: url(16x16_black_app_icons.png) -68px -215px no-repeat;
  display: inline-block;
  width: 32px;
  height: 31px;
}

.stats {
  background: url(16x16_black_app_icons.png) -102px -157px no-repeat;
  display: inline-block;
  width: 30px;
  height: 24px;
}

.stats-down {
  background: url(16x16_black_app_icons.png) -298px -210px no-repeat;
  display: inline-block;
  width: 30px;
  height: 24px;
}

.stats-up {
  background: url(16x16_black_app_icons.png) -298px -236px no-repeat;
  display: inline-block;
  width: 30px;
  height: 24px;
}

.stop {
  background: url(16x16_black_app_icons.png) -204px -165px no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.target {
  background: url(16x16_black_app_icons.png) -264px 0px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.tick {
  background: url(16x16_black_app_icons.png) -330px -75px no-repeat;
  display: inline-block;
  width: 24px;
  height: 21px;
}

.trash {
  background: url(16x16_black_app_icons.png) -264px -34px no-repeat;
  display: inline-block;
  width: 28px;
  height: 32px;
}

.trophy {
  background: url(16x16_black_app_icons.png) -264px -68px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.tv {
  background: url(16x16_black_app_icons.png) -264px -102px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.twitter {
  background: url(16x16_black_app_icons.png) -264px -136px no-repeat;
  display: inline-block;
  width: 26px;
  height: 32px;
}

.unlocked {
  background: url(16x16_black_app_icons.png) -249px -283px no-repeat;
  display: inline-block;
  width: 24px;
  height: 28px;
}

.up {
  background: url(16x16_black_app_icons.png) -166px -157px no-repeat;
  display: inline-block;
  width: 16px;
  height: 20px;
}

.upload {
  background: url(16x16_black_app_icons.png) -264px -204px no-repeat;
  display: inline-block;
  width: 32px;
  height: 22px;
}

.upload-files {
  background: url(16x16_black_app_icons.png) -264px -170px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.video {
  background: url(16x16_black_app_icons.png) 0px -249px no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.views {
  background: url(16x16_black_app_icons.png) -134px -157px no-repeat;
  display: inline-block;
  width: 30px;
  height: 22px;
}

.wrench {
  background: url(16x16_black_app_icons.png) -102px -215px no-repeat;
  display: inline-block;
  width: 32px;
  height: 31px;
}